################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/gate/Bost.Agent.Service/bin/Debug/net5.0
